page-login {

    button.green{
        background: rgba(0, 128, 0, 0.4)
    }

    ion-content{
        div.scroll-content{
            background-image: url('./../assets/imgs/background.jpg');
            background-size: 100%
        }
    }

}
